/***** Homepage *****/

.promoted-articles {
  overflow: hidden;
}

.promoted-articles li {
  transform: translateX(-3rem);
}

.promoted-articles li::before {
  display: inline-block;
  counter-increment: promoted;
  content: counter(promoted) '. ';
  width: 2rem;
  margin-right: 1rem;
  transition: all;
  transition-duration: 100ms;
  transform: translateX(-3rem);
}

.promoted-articles li:hover::before, .promoted-articles li:hover {
  transform: translateX(0);
}

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $low-contrast-border-color;
      padding: 15px 0;
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $low-contrast-border-color;
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    margin-top: 32px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }

  @include standalone-link;
}

.community,
.activity {
  border-top: 1px solid $low-contrast-border-color;
  padding: 30px 0;
}

.home-category {
  background: #A0A0A0;
  background-size: 100% 400px;
  background-position: center center;
  background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #199D14FF 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #b1b1b1f5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #0C7908 24%, #073AFF00 100%),linear-gradient(125deg, #F8F8F8FF 1%, #959595FF 100%);
}
